.app {
  color: white;
  background-color: black;
  font-family: Helvetica;
  font-weight: bold;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

  .albumContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    justify-items: center;
  }
  
  @media (min-width: 667px) {
    .albumContainer {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1025px) {
    .albumContainer {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 0 40px;
    }
  }

  .albumCover {
    margin: 15px;
  }
  
  .albumNameColor {
    font-size: 14px;
    color: white;
  }

  .artistNameColor {
    color:#a0a0a0;
  }

  .albumName {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .icon {
    width: 38px;
    display: none;
  }

.coverWrapper {
  position: relative;
  opacity: 1;
}


.coverImage:hover > img {
  opacity:0.5;
  .coverImage img {
    display: block;
  }
}

.coverImage:hover > .icons {
  opacity: 1;
   img {
    display: block;
  }
}

.coverImage .icons {
  position: absolute;
  top:45%;
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 25px;
  margin: 0px;
}

.imgCover {
  height: auto;
  max-width: 600px;
  width: 100%;
}

  .icon:hover { 
  cursor: pointer;
  scale: 1.1;
}