.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
  font-family: Helvetica;
  padding: 10px;
}
header {
  display: contents;
}
a {
  text-decoration: none;
}
  .albumCover {
   margin: 5px;
   padding: 0px 20px;
    @media (min-width: 1025px) {
        flex: 1 0 21%;
    } 
  }
  .albumContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 1700px;
  }

  .albumNameColor {
    font-size: 14px;
    color: white;
  }

  .artistNameColor {
    color:#a0a0a0;
  }

  .albumName {
    width: 70%;
  }

  .heartIcon {
    width: 15px;
    display: none;
  }

.coverWrapper {
  display: flex;
  opacity: 1;
}    
.coverWrapper:hover {
  .icons {
    display: block;
    transition: all .2s ease-in-out; 

  }
  opacity: 0.5;
  .coverImage .icons {
    position: absolute;
    top:45%;
    left:33%;
    display: flex;
    gap: 10px;
  }
  .coverImage {
    position: relative;
  }
  .coverImage img {
    display: block;
  }
  .icons {
    display: block;
  }
}

.icons {
  display: none;
}

.icons { 
  transition: all .2s ease-in-out; 
  }
  
  .icons:hover { 
  cursor: pointer;
  transform: scale(1.1); 
  }